@import './_core';

.slider{
    @include size(1800px, 700px);
    margin: 0 auto;
    margin-top: 5%;
    @include flex(space-between);
 

    &>button{
        @include size(50px, 50px);
        background-color: #000000;
        color: white;
        font-size: 35px;
        border: none;
        border-radius: 30px;

        &.inactive{
            pointer-events: none;
            opacity: 0;
        }
    }

    &>.middle_image{

        &>h1, h2{
            text-align: center;
            @include font(36px, 16px, 400);
        }

        &>img{
            @include size(800px, 500px);
        }
    }
    

    &>img{
        width: 20%;
        filter: blur(5px);
    }

}